<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
</head>
<body>
    <div class="columns-3">
        <img class=" aspect-square" src="Snipaste_2023-10-07_09-56-07.png" />
        <img class=" aspect-square py-4" src="Snipaste_2023-10-07_09-56-20.png" />
        <img class=" aspect-square" src="Snipaste_2023-10-07_09-56-26.png" />
        
        <img class=" aspect-square " src="Snipaste_2023-10-07_09-56-42.png" />
        
    </div>

    <div class="columns-2">
        <p>Well, let me tell you something, ...</p>
        <p class="break-after-column">Sure, go ahead, laugh...</p>
        <p>Maybe we can live without...</p>
        <p>Look. If you think this is...</p>
      </div>
</body>
</html>